.box_parents {
  height: 250px;
  background-color: rgb(240, 240, 240);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.box_children {
  width: 50%;
  background-color: rgb(100, 100, 250);
  margin-top: 70px;
}
