/* p[href] {
  color: red;
}

[target="_blank"] {
  color: pink;
} */

/* ~= là chứa đúng từ đó
*= là chứa chuỗi đó
^= là bắt đầu bằng chuỗi đó
|= là bắt đầu bằng chuỗi đó hoặc chuỗi đó theo sau bởi dấu gạch ngang */

/* [title~="tuhoc.cc"] {
  color: red;
} */
/* [title*="tuhoc.cc"] {
  color: red;
} */
/* [title^="pic"] {
  color: red;
} */

/* $= là kết thúc bằng chuỗi đó */
/* [title$="c"] {
  color: red;
} */

/* [title^="pic"] {
  color: red;
} */
